body {
  margin: 0;
  font-family: "Lato Regular", sans-serif;
}

@font-face {
    font-family: "Lato Bold";
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Lato Regular";
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
}
