.modal {
    padding-right: 0px !important;
}

.modal-open {
    padding-right: 0px !important;
}

.modal-dialog {
    max-width: 550px !important;
}

@media (min-width: 500px) {
    .modal-dialog {
        min-height: calc(100% - 3.75rem) !important;
        margin: 1.75rem auto !important;
    }
}

.modal-content {
    margin: 25px !important;
    border: 0px !important;
    background-color: transparent !important;
}

@media (max-width: 500px) {
    .modal-content {
        width: calc(100% - 15px) !important;
        margin: 7.5px !important;
    }
}
